<h2>All Recipes</h2>

<ng-container *ngIf="recipesViewModel$ | async as recipesViewModel">
  <div *ngIf="recipesViewModel.state === 'loading'">Loading…</div>

  <div *ngIf="recipesViewModel.state === 'error'" class="error">
    {{ recipesViewModel.errorMessage }}
  </div>

  <ng-container *ngIf="recipesViewModel.state === 'loaded'">
    <app-recipe-list
      [recipes]="recipesViewModel.recipes"
      (recipeSelected)="handleRecipeSelected($event)"
    >
    </app-recipe-list>

    <app-recipe-card
      *ngIf="selectedRecipe"
      [recipe]="selectedRecipe"
      (requestClose)="handleCloseDetails()"
    >
    </app-recipe-card>
  </ng-container>
</ng-container>
