.spacer {
  flex: 1 1 auto;
}
.title-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.app-logo {
  height: 40px;
  width: auto;
  margin-left: 1rem;
  border-radius: 4px;
  object-fit: contain;
}
